<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StartupFolders" type="Com.Unisys.CdR.Certi.Utils.StartupFoldersConfigSection"/>  
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>   
    <section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <StartupFolders>
    <Folders>     
      <add folderType="XML" path="~\config\xml"/>    
    </Folders>
  </StartupFolders>
  <appSettings>
    <!-- test connections -->
    <add key="OraConn" value="USER ID=certiol_idx;DATA SOURCE=sviluppo;PASSWORD=certi;PERSIST SECURITY INFO=true;"/>
    <add key="IndexConnection" value="User ID=certiol_idx;Password=certi;Data Source=sviluppo;"/>
    <add key="StorageConnection" value="User ID=certiol_stg;Password=certi;Data Source=sviluppo;"/>
    <!-- prod connections -->
  <!--  <add key="OraConn" value="enlist=dynamic;user id=CERTIOL_IDXV1;password=CERTIOL_IDXV1;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.173.6.40)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PANET)))"/>
    <add key="IndexConnection" value="enlist=dynamic;user id=CERTIOL_IDXV1;password=CERTIOL_IDXV1;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.173.6.40)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PANET)))"/>
    <add key="StorageConnection" value="enlist=dynamic;user id=CERTIOL_STG;password=CERTIOL_STG;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.173.6.40)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PANET)))"/>-->
    <!-- end connections --> 
    <add key="CertificateName" value="CN=WSE2QuickStartServer"/>
    <!-- ClientID -->
    <!-- 0 -no, 1 - si-->
    <add key="GETTimbro" value="1"/>
    <add key="SecurityProtocol" value="Tls12"/>
    <!-- timbro test -->  
    <add key="UrlTimbroWS" value="https://10.173.17.56/DOU2/services/DOU2"/>     
    <!-- timbro produzione -->
    <!-- <add key="UrlTimbro" value ="https://10.173.17.60/DOU2/services/DOU2"/>-->
    <add key="certNameTimbro" value="timbroCertTest"/>
    <!-- <add key="certNameTimbro" value="land"/>-->  
    <!-- Sezione testo bollo -->
    <!--<add key="RiscossoBollo" value ="Bollo assolto in modo virtuale come da aut. n. 100363 del 17/12/1973 - Riscossi Euro 0,52 per diritti di segreteria" />
    <add key="RiscossoSempl" value ="Riscossi Euro 0,26 per diritti di segreteria" />
    <add key="RiscossoSenzaDirittiSegr" value="Certificato rilasciato in carta semplice ad uso esclusivo della Pubblica Amministrazione"/>-->
    <!-- Sezione  Pagamenti -->
    <!--<add key ="PagamentiUrl" value="http://10.150.130.37:6080/CDRServices/services/Pagamento_CertificatiSOAP"/>-->
    <add key="xPathEsito" value="//esito"/>
    <add key="xPathIdCertificato" value="//idCertificato"/>
    <add key="xPathIdPagamento" value="//datiTransazione/datiPagamento/idEmissione"/>
    <!--<add key ="PagamentiUserName"/>-->
    <!--<add key ="PagamentiPassword"/>-->
    <!-- wse security-->
    <add key="DBProfiles" value="Password=MAN;User ID=MAN;Data Source=SVILUPPO"/>
    <add key="PWExpiry" value="60"/>
    <add key="SecurityToken" value="Security"/>
    <add key="SecurityTokenNameSpace" value="http://schemas.xmlsoap.org/ws/2003/06/secext"/>
    <add key="SecurityTokenPrefix" value="wsse"/>
    <!--Configurazione filtro di tracciamento SOAP-->
    <add key="TraceSoapBaseFolder" value="C:\UnisysComponents\LOGS\CERTIWS_TRACE"/>
    <add key="TraceSoapInputFilename" value="SOAPin"/>
    <add key="TraceSoapOutputFilename" value="SOAPout"/>
    <add key="TraceSoapDefaultExtension" value=".xml"/>
    <add key="TraceSoapCounterFilter" value="1"/>
    <add key="TraceSoapHeaderOnly" value="0"/>
    <add key="REFIDAPP" value="2"/>
    <add key="SELECTDB" value="NEW"/>
    <add key="useproxy" value="0"/>
    <add key="ipproxy" value="127.0.0.1"/>
    <add key="portproxy" value="8888"/>
    <!-- sezione Chiamate ANPR SIPO -->
    <add key="hostname" value="SERVER"/>
    <add key="cfuser" value="MBMCLL82R05H501M"/>
    <add key="ServiceRicercaPosAnag" value="https://sipo-test.certonbe.ecaas.datacenter.comune.roma/certOnline/ricercaPosizioneAnag"/>
    <add key="ServiceRecuperaCertificato" value="https://sipo-test.certonbe.ecaas.datacenter.comune.roma/certOnline/recuperaCertificatoOnline"/>
    <add key="ServiceRichiestaToken" value="https://sipo-test.certonbe.ecaas.datacenter.comune.roma/oauth/token?"/>
    <add key="utenzadominiotoken" value="jwtcertonline:E7ggeibK09Qblu"/>
    <add key="usernamedomain" value="admin.user"/>
    <add key="passworddomain" value="Accenture01"/>
    <add key="grant_type" value="password"/>
    <add key="idcertificatodou" value="108"/>
    <!-- fine sezione chiamate ANPR SIPO-->
  </appSettings> 
  <system.web>   
    <httpRuntime requestValidationMode="4.8" />   
    <compilation debug="true" targetFramework="4.8"/>
    <authentication mode="Forms"/>
    <authorization>
      <allow users="?"/>
    </authorization>
    <customErrors mode="RemoteOnly"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <webServices>
      <conformanceWarnings>
        <remove name="BasicProfile1_1"/>
      </conformanceWarnings>
      <soapExtensionTypes>
        <add type="Microsoft.Web.Services2.WebServicesExtension, Microsoft.Web.Services2, Version=2.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="CertiService.asmx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <microsoft.web.services2>
    <security>
      <securityTokenManager type="Unisys.CdR.WS.Infrastruttura.CustomUsernameTokenManager, Unisys.CdR.SOAPUtilities,Version=2.1.0.0,Culture=neutral,PublicKeyToken=ac338a9b89966a58" qname="wsse:UsernameToken" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
    </security>
    <!--<filters>
      <input>
        <add type="Unisys.CdR.Tracer.TraceSoapInputFilter, Unisys.CdR.Tracer,Version=1.1.0.0,Culture=neutral,PublicKeyToken=4fd8e9d53546134f"/>
      </input>
      <output>
        <add type="Unisys.CdR.Tracer.TraceSoapOutputFilter, Unisys.CdR.Tracer,Version=1.1.0.0,Culture=neutral,PublicKeyToken=4fd8e9d53546134f"/>
      </output>
    </filters>-->
    <diagnostics>
      <detailedErrors enabled="true"/>
      <trace enabled="true" input="C:\UnisysComponents\LOGS\CERTIWS_TRACE\InputTrace.txt" output="C:\UnisysComponents\LOGS\CERTIWS_TRACE\OutputTrace.txt"/>
      <policyTrace enabled="true" input="C:\UnisysComponents\LOGS\CERTIWS_TRACE\PolicyInput.txt" output="C:\UnisysComponents\LOGS\CERTIWS_TRACE\PolicyOutput.txt"/>
    </diagnostics>
    <policy>
      <cache name="policyCache.config"/>
    </policy>
  </microsoft.web.services2>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342"/>
        <bindingRedirect oldVersion="2.102.2.20-9.999.9.9" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
      <AppContextSwitchOverrides value="Switch.System.Net.DontEnableSchUseStrongCrypto=false" />
  </runtime>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.Net">
        <listeners>
          <add name="TraceFile"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="TraceFile"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log"/>
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
    </switches>
  </system.diagnostics>
  <!--<system.net>
   <defaultProxy enabled="false" useDefaultCredentials="true">
     <proxy bypassonlocal="True" proxyaddress="http://" />
   </defaultProxy>
  </system.net>-->
</configuration>