<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CheckCerti.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="UrlWebService" value="http://10.173.2.168/CertiWS/CertiService.asmx"/>
    <add key="username" value="Gc8nOUDn9qr/ITtaavwBXOlz9vQm7ifVbiJImkbn+v0="/>
    <add key="password" value="NOv4t0WS5vRZf6c6TIPQbExvx8VCNtK/5BvAWQN/nHY="/>
    <add key="Chiave" value="comunediroma2007"/>
    <add key="clientid" value="1"/>
    <add key="CodiceFiscaleintestatario" value="RBRNCL74P16H501C"/>
    <add key="CodiceFiscalerichiedente" value="DLFMLN73D01H501D"/>
    <add key="TraceSoapBaseFolder" value="C:\UnisysComponents\LOGS\CertificatiOnLine\Trace"/>
    <add key="TraceSoapInputFilename" value="SOAPin"/>
    <add key="TraceSoapOutputFilename" value="SOAPout"/>
    <add key="TraceSoapDefaultExtension" value=".xml"/>
    <add key="TraceSoapCounterFilter" value="1"/>
    <add key="TraceSoapHeaderOnly" value="0"/>
    <add key="CIU" value="ORV-PTV-Q3A-200-312"/>
    <add key="Sistema" value="PCOM"/>
    <add key="UrlControlloPagamenti" value="http://10.150.30.10:7080/CDRServices/services/Pagamento_CertificatiSOAP"/>
  </appSettings>
  <connectionStrings/>
  <log4net>
    <appender name="Msmq" type="Com.Unisys.Logging.MsmqAppender,Com.Unisys.Logging,Version=2.1.0.0,Culture=Neutral,PublicKeyToken=4fd8e9d53546134f">
      <queueName>DIRECT=OS:.\PRIVATE$\certix</queueName>
      <backupQueueName/>
      <appName>Certificati online</appName>
      <notifyError>True</notifyError>
      <eventLogName>CERTI</eventLogName>
      <layout type="log4net.Layout.XMLLayout">
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline"/>--&gt;
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value=".\web.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="1024KB"/>
      <maxSizeRollBackups value="3"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %logger - %message%newline"/>
      </layout>
    </appender>
    <logger name="Com.Unisys.Logging.MsmqAppender" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="RollingFile"/>
    </logger>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <conformanceWarnings>
        <remove name="BasicProfile1_1"/>
      </conformanceWarnings>
      <soapExtensionTypes>
        <add type="Microsoft.Web.Services2.WebServicesExtension, Microsoft.Web.Services2, Version=2.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
    <!-- 
            Impostare compilation debug="true" per inserire i 
            simboli di debug nella pagina compilata. Poiché tale operazione ha effetto 
            sulle prestazioni, impostare questo valore su true 
            solo durante lo sviluppo.
        -->
    <compilation debug="true" targetFramework="4.6.1"/>
    <!--
            La sezione <authentication> consente di configurare 
            la modalità di autenticazione della sicurezza utilizzata da 
            ASP.NET per identificare un utente in ingresso. 
        -->
    <authentication mode="Windows"/>
    <!--
            La sezione <customErrors> consente di configurare 
            l'operazione da eseguire in caso di errore non gestito 
            durante l'esecuzione di una richiesta. In particolare, 
            consente agli sviluppatori di configurare le pagine di errore HTML 
            in modo che vengano visualizzate al posto dell'analisi dello stack dell'errore.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        La sezione system.webServer è richiesta per eseguire ASP.NET AJAX in Internet
       Information Services 7.0. Non è necessaria per la versione precedente di IIS.
    -->
  <microsoft.web.services2>
    <security>
      <securityTokenManager type="Unisys.CdR.WS.Infrastruttura.CustomUsernameTokenManager, Unisys.CdR.SOAPUtilities,Version=2.1.0.0,Culture=neutral,PublicKeyToken=4fd8e9d53546134f" qname="wsse:UsernameToken" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
    </security>
    <filters>
      <input>
        <add type="Unisys.CdR.Tracer.TraceSoapInputFilter, Unisys.CdR.Tracer,Version=1.1.0.0,Culture=neutral,PublicKeyToken=4fd8e9d53546134f"/>
      </input>
      <output>
        <add type="Unisys.CdR.Tracer.TraceSoapOutputFilter, Unisys.CdR.Tracer,Version=1.1.0.0,Culture=neutral,PublicKeyToken=4fd8e9d53546134f"/>
      </output>
    </filters>
    <diagnostics>
      <detailedErrors enabled="true"/>
      <trace enabled="true" input="C:\UnisysComponents\LOGS\CertificatiOnLine\Trace\InputTrace.txt" output="C:\UnisysComponents\LOGS\CertificatiOnLine\Trace\OutputTrace.txt"/>
      <policyTrace enabled="true" input="C:\UnisysComponents\LOGS\CertificatiOnLine\Trace\PolicyInput.txt" output="C:\UnisysComponents\LOGS\CertificatiOnLine\Trace\PolicyOutput.txt"/>
    </diagnostics>
    <policy>
      <cache name="policyCache.config"/>
    </policy>
  </microsoft.web.services2>
</configuration>