<?xml version="1.0"?>
<configuration>
  <configSections> 
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="StartupFolders" type="Com.Unisys.CdR.Certi.Utils.StartupFoldersConfigSection"/>
    <section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <StartupFolders>
    <Folders>
      <add folderType="XML" path="..\..\CertiWS\config\xml"/>
    </Folders>
  </StartupFolders>
  <appSettings>
    <!-- test connections  -->
    <add key="OraMan" value="USER ID=MAN;DATA SOURCE=sviluppo;PASSWORD=MAN;PERSIST SECURITY INFO=true;"/>
    <add key="OraConn" value="USER ID=certiol_idx;DATA SOURCE=sviluppo;PASSWORD=certi;PERSIST SECURITY INFO=true;"/>
    <add key="IndexConnection" value="User ID=certiol_idx;Password=certi;Data Source=sviluppo;"/>
    <add key="StorageConnection" value="User ID=certiol_stg;Password=certi;Data Source=sviluppo;"/>
    <!-- prod connections -->
 <!--   <add key="OraMan" value="USER ID=MANAGER;DATA SOURCE=MANAGER;PASSWORD=MANAGER;PERSIST SECURITY INFO=true;"/>
    <add key="OraConn" value="user id=CERTIOL_IDXV1;password=CERTIOL_IDXV1;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.173.6.40)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PANET)))"/>
    <add key="IndexConnection" value="User ID=CERTIOL_IDXV1;Password=CERTIOL_IDXV1;Data Source=PANET;"/>
    <add key="StorageConnection" value="User ID=CERTIOL_STG;Password=CERTIOL_STG;Data Source=PANET;"/>-->
    <!-- sezione test -->
    <add key="UrlLogin" value="https://www.preprod.comune.roma.it/servizi/certificati"/>
    <add key="UrlLogoff" value="~/emissione/Logoff.aspx"/>
    <add key="TEST" value="true"/>
    <add key="TEST_ACCOUNTPORT" value="RBRNCL74P16H501C"/>
    <add key="TEST_ACCOUNT" value="RBRNCL74P16H501C"/>
    <add key="TEST_IP" value="127.0.0.1"/>
    <!-- sezione manutenzione-->
    <add key="MANUTENZIONE" value="false"/>
    <add key="MANUTENZIONE_ALLOWED_ACOUNTS" value="RBRNCL74P16H501C"/>
    <add key="MANUTENZIONE_INFO_PAGE" value="~/recupero/manutenzione.htm"/>
    <add key="CertificateName" value="CN=WSE2QuickStartServer"/>
    <add key="CertiServiceUrl" value="http://localhost/CertiWS/CertiService.asmx"/>
    <!-- <add key="CertiServiceUrl" value="http://localhost/CertiWS/CertiService.asmx"/>-->
    <!--<add key="CertiServiceUrl" value ="http://10.173.2.184/CertiWS/CertiService.asmx"/>-->
    <!-- sezione Client-->
    <add key="ClientID" value="1"/>
    <add key="Risposta_OK" value="OK"/>
    <add key="Risposta_KO" value="KO"/>
    <add key="Risposta_ABORT" value="ABORT"/>
    <!-- chiavi nuovi pagamenti -->
    <!-- struttura -->
    <add key="area" value="118"/>
    <add key="settore" value="GC"/>
    <add key="cdr" value="0PP"/>
    <!-- voce -->
    <add key="rataCNC" value="80"/>
    <add key="importoCNC" value="16.00"/>
    <add key="importoCNC1" value="0"/>
    <add key="importoCNC2" value="16"/>
    <add key="codiceCNC" value="R-0029"/>
    <add key="codiceCNC1" value="9844"/>
    <add key="codiceCNC2" value="9847"/>
    <!-- dettagli -->
    <add key="progOggetto" value="00000"/>
    <add key="tipoOggetto0" value="ANA008"/>
    <add key="tipoPosizione0" value="O"/>
    <add key="tipoOggetto1" value="TIP"/>
    <add key="descrizioneOggetto1" value="Richiesta CERTIFICATO ANAGRAFICO ON LINE IN CARTA DA BOLLO ||||"/>
    <add key="tipoOggetto2" value="PPA"/>
    <add key="descrizioneOggetto2" value="Richiesta CERTIFICATO ANAGRAFICO ON LINE IN CARTA DA BOLLO||||"/>
    <add key="tipoOggetto3" value="DEP"/>
    <add key="descrizioneOggetto3" value="DIRITTI DI SEGRETERIA||||0"/>
    <add key="tipoOggetto4" value="DEP"/>
    <add key="descrizioneOggetto4" value="BOLLI VIRTUALI||||16"/>
    <add key="tipoOggetto5" value="TOP"/>
    <add key="descrizioneOggetto5" value="|||Totale|16.00"/>
    <!-- dettaglioIntermediarioPagamento-->
    <add key="tipoPersona" value="A"/>
    <add key="tipoPersonaPagamento" value="F"/>
    <add key="tipoSoggetto" value="I"/>
    <add key="codiceSistema" value="CDR-SAN"/>
    <add key="codiceOperazione" value="CDR-SIR_PreparaBridge"/>
    <!-- sezione parametri rest -->
    <add key="codApplication" value="SIPO"/>
    <add key="codEnte" value="E0001"/>
    <add key="caller" value="COL"/>
    <add key="callee" value="SIR"/>
    <!-- indirizzi servizi rest-->
    <add key="addressRest" value="http://sir.puntuali.test.ecaas.datacenter.comune.roma/cmd/j"/>
    <add key="invioPosizioneCreditoria" value="crediti.invioPosizioneCreditoria"/>
    <add key="preparaPagamentoService" value="crediti.predisponiPagamento"/>
    <add key="richiestaPagamentiPosizione" value="crediti.richPagamentiPosizione"/>
    <add key="tipoIdentificativo" value="IUV"/>
    <!--sezione pagoweb -->
    <add key="urlPagoWeb" value="http://pagosvil.comune.roma.it/PagoWEB/entry/"/>
    <add key="BRIDGE_MODE" value="0"/>
    <add key="COD_APP" value="PagoWEB"/>
    <add key="COD_ENTE" value="70212"/>
    <add key="ID_SISTEMA" value="CDR-SAN"/>
    <add key="refreshpage" value="10"/>
    <!-- fine nuove chiavi -->
    <add key="HandlerPagamentoOK" value="emissione/ritiro.aspx"/>
    <add key="HandlerPagamentoKO" value="emissione/emissione.aspx"/>
    <add key="CodiceApplicazione" value="CERTI"/>
    <add key="BackPage" value="http://localhost/certiwebapp/backurl.do"/>
    <!--sezione ritiro-->
    <!-- 1- tutti-->
    <!-- 2- ultimo certificato per ogni tipologia-->
    <!-- 3- ultimo certificato per ogni tipologia e intestatario-->
    <!-- 4- ultimo certificato per ogni tipologia e intestatario-->
    <add key="TipoRitiro" value="1"/>
    <add key="timelimit" value="-182 0:00:00"/>
    <!-- wse security-->
    <add key="SecurityToken" value="Security"/>
    <add key="SecurityTokenNameSpace" value="http://schemas.xmlsoap.org/ws/2003/06/secext"/>
    <add key="SecurityTokenPrefix" value="wsse"/>
    <add key="NVA.asmx.NVA" value="http://10.173.9.48/CertiWS/CertiService.asmx"/>
    <!-- keys accounts -->
    <!-- account poste (test) -->
    <!--<add key="PortalAccount" value="UNHpMu3KTXLS2tbvC588INevskAVa0vf+ZihLxg8kO0=" />
    <add key="PortalPassword" value="ChzWEjCxfxVSth9nRqMwpH45tX5Zs/p0jMtszZWXtuM=" />-->
    <!-- account portale comunale TEST -->
    <add key="PortalAccount" value="Gc8nOUDn9qr/ITtaavwBXOlz9vQm7ifVbiJImkbn+v0="/>
    <add key="PortalPassword" value="NOv4t0WS5vRZf6c6TIPQbExvx8VCNtK/5BvAWQN/nHY="/>
    <!-- account portale comunale produzione -->
    <!--<add key="PortalAccount" value="Gc8nOUDn9qr/ITtaavwBXOlz9vQm7ifVbiJImkbn+v0=" />
    <add key="PortalPassword" value="NOv4t0WS5vRZf6c6TIPQbExvx8VCNtK/5BvAWQN/nHY=" />-->
    <!-- fine keys accounts -->
    <add key="useproxy" value="0"/>
    <add key="ipproxy" value="127.0.0.1"/>
    <add key="portproxy" value="8888"/>
    <!-- Configurazione filtro di tracciamento SOAP -->
    <add key="TraceSoapBaseFolder" value="C:\UnisysComponents\LOGS\CertificatiOnLine\Trace"/>
    <add key="TraceSoapInputFilename" value="SOAPin"/>
    <add key="TraceSoapOutputFilename" value="SOAPout"/>
    <add key="TraceSoapDefaultExtension" value=".xml"/>
    <add key="TraceSoapCounterFilter" value="1"/>
    <add key="TraceSoapHeaderOnly" value="0"/>
    <add key="REFIDAPP" value="8"/>
    <add key="CacheExp" value="15"/>
    <!-- sezione Chiamate ANPR SIPO -->
    <add key="hostname" value="SERVER"/>
    <add key="cfuser" value="MBMCLL82R05H501M"/>
    <add key="ServiceRicercaPosAnag" value="https://sipo-test.certonbe.ecaas.datacenter.comune.roma/certOnline/ricercaPosizioneAnag"/>
    <add key="ServiceRecuperaCertificato" value="https://sipo-test.certonbe.ecaas.datacenter.comune.roma/certOnline/recuperaCertificatoOnline"/>
    <add key="ServiceRichiestaToken" value="https://sipo-test.certonbe.ecaas.datacenter.comune.roma/oauth/token?"/>
    <add key="utenzadominiotoken" value="jwtcertonline:E7ggeibK09Qblu"/>
    <add key="usernamedomain" value="admin.user"/>
    <add key="passworddomain" value="Accenture01"/>
    <add key="grant_type" value="password"/>
    <!--<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />-->
    <!-- fine sezione chiamate ANPR SIPO-->
  </appSettings>
  <connectionStrings/>
  <log4net>
    <appender name="Msmq" type="Com.Unisys.Logging.MsmqAppender,Com.Unisys.Logging,Version=1.0.0.0,Culture=Neutral,PublicKeyToken=4fd8e9d53546134f">
      <queueName>DIRECT=OS:.\PRIVATE$\certix</queueName>
      <backupQueueName/>
      <appName>Certificati online</appName>
      <notifyError>True</notifyError>
      <eventLogName>CERTI</eventLogName>
      <layout type="log4net.Layout.XMLLayout">
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline"/>--&gt;
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="log\web.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="1024KB"/>
      <maxSizeRollBackups value="3"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %logger - %message%newline"/>
      </layout>
    </appender>
    <logger name="Com.Unisys.Logging.MsmqAppender" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="RollingFile"/>
    </logger>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net> 
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime requestValidationMode="2.0" />   
    <authentication mode="Windows"/>
    <authorization>
      <allow users="?"/>
    </authorization>
    <customErrors mode="RemoteOnly" defaultRedirect="recupero/Errore.html"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <webServices>
      <conformanceWarnings>
        <remove name="BasicProfile1_1"/>
      </conformanceWarnings>
      <soapExtensionTypes>
        <add type="Microsoft.Web.Services2.WebServicesExtension, Microsoft.Web.Services2, Version=2.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
    <httpHandlers>
      <add verb="*" path="*backurl.do" type="Com.Unisys.CdR.Certi.WebApp.PagamentiHandler"/>
      <add path="*captcha.do" verb="GET" type="ImageKit.CaptchaHandler"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--<system.net>
    <defaultProxy enabled="false">
      <proxy usesystemdefault="False" bypassonlocal="False" proxyaddress="http://127.0.0.1:8888" />
    </defaultProxy>
  </system.net>-->
  <system.webServer>
    <handlers accessPolicy="Read, Execute, Script">
      <add name="httpCustomHandler" path="*.do" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
    </handlers>
    <!--<handlers>
      <add name="CaptchaHandler" path="*captcha.do" verb="GET" type="ImageKit.CaptchaHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="PagamentiResponseHandler" path="*backurl.do" verb="POST" type="Com.Unisys.CdR.Certi.WebApp.PagamentiHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>-->
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <microsoft.web.services2>
    <security>
      <securityTokenManager type="Unisys.CdR.WS.Infrastruttura.CustomUsernameTokenManager, Unisys.CdR.SOAPUtilities,Version=2.1.0.0,Culture=neutral,PublicKeyToken=ac338a9b89966a58" qname="wsse:UsernameToken" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
    </security>
    <!--<filters>
      <input>
        <add type="Unisys.CdR.Tracer.TraceSoapInputFilter, Unisys.CdR.Tracer,Version=1.1.0.0,Culture=neutral,PublicKeyToken=4fd8e9d53546134f" />
      </input>
      <output>
        <add type="Unisys.CdR.Tracer.TraceSoapOutputFilter, Unisys.CdR.Tracer,Version=1.1.0.0,Culture=neutral,PublicKeyToken=4fd8e9d53546134f" />
      </output>
    </filters>-->
    <diagnostics>
      <detailedErrors enabled="true"/>
      <trace enabled="true" input="C:\UnisysComponents\LOGS\CertificatiOnLine\Trace\InputTrace.txt" output="C:\UnisysComponents\LOGS\CertificatiOnLine\Trace\OutputTrace.txt"/>
      <policyTrace enabled="true" input="C:\UnisysComponents\LOGS\CertificatiOnLine\Trace\PolicyInput.txt" output="C:\UnisysComponents\LOGS\CertificatiOnLine\Trace\PolicyOutput.txt"/>
    </diagnostics>
    <policy>
      <cache name="policyCache.config"/>
    </policy>
  </microsoft.web.services2>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.Net.Http">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.WebSockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="ProcessId, DateTime" initializeData="System.Net.trace.log"/>
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
      <add name="System.Net.Cache" value="Verbose"/>
      <add name="System.Net.Http" value="Verbose"/>
      <add name="System.Net.WebSockets" value="Verbose"/>
    </switches>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342"/>
        <bindingRedirect oldVersion="2.100.1.0-9.999.9.9" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>